* {
	box-sizing: border-box
}
body {
	margin:0;
	font-family: Arial;
	background-color:#e2e2e2;
}
hr {
	width:100%;
	text-align:center;
	border: .5px solid #e0e1e2;
}

.left {
	float:left;
	width:35%;
}
.right {
	float:left;
	width:65%;
}
.polaroid {
	background-color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	margin:10px;
}
/*LEFT SIDE COLUMN*/
.polaroid .image {
	position:relative;
}
.polaroid .image img {
	display:block;
	margin:auto;
	width:100%;
	height:auto;
}
.polaroid .txtonimg {
	position:absolute;
	font-size:1.8em;
	bottom: -10px;
    left: 16px;
}
.polaroid .txtunderimg {
	font-size:1em;
	color:grey;
	padding:5px 20px;
}
.polaroid .skills {
	padding:20px;	
}
.polaroid .skills h2 {
	color:grey;
	font-size:1.3em;
}
.polaroid .skills p {
	margin: 25px 0 10px 0;
	color:grey;
	font-size:1em;
}
.polaroid .skills .slider {
	width:100%;
	height:18px;
	border-radius:7px;
	background-color:silver;
	color:white;
	text-align:center;
}
.polaroid .skills .slider .show {
	height:18px;
	border-radius:7px;
	background-color:#009688;
	color:white;
	text-align:center;
}
.dev{
	width:90%;
}
.osam {
	width:80%;
}
.sed {
	width:75%;
}
.pet {
	width:50%;
}
.dva {
	width:25%;
}
.polaroid .languages .slider{
	height:24px;
	border-radius:10px;
}
.polaroid .languages .slider .show {
	height:24px;
	border-radius:10px;
}
/*RIGHT SIDE COLUMN*/
.rside {
	padding:30px;
}
.rside .prg h1 {
	margin-bottom:30px;
	color:grey;
	font-size:1.8em;
	font-weight: 100;
}
.rside .prg h2 {
	color:grey;
	font-size:1.2em;
	font-weight: 800;
}
.rside .prg h3 {
	color:#009688;
	font-size:1em;
	font-weight: 100;
}
.rside .prg h3 span {
	background-color:#009688;
	color:white;
	padding:3px 5px;
	border-radius: 3px;
}

/*FOOTER*/
.footer {
	float:left;
	width:100%;
	height:120px;
	text-align:center;
	background-color:#009688;
	color:white;
}
/*RESPONSIVE*/
@media only screen and (max-width: 800px) {
	.left {width:100%}
	.right {width:100%}
}
