* {
	box-sizing: border-box
}
body {
	margin:0;
}
.w3-third ul li {
	padding: 8px 0 8px 0;
}
.courses {
	font-size: 16px;
	margin-left: 20px;
}

@media screen and (max-width: 750px) {
  .smalScr h3 {
    font-size: 14px;
		padding:0px;
  }
}

@media screen and (max-width: 600px) {
  .smalScr h3 {
    font-size: 20px;
		padding:4px 0 4px 0;
  }
}

@media screen and (max-width: 400px) {
  .smalScr h3 {
    font-size: 14px;
		padding:4px 0 4px 0;
  }
}
